@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #E4E3E0;
  color: var(--foreground);
  font-family: var(--font-sans);
}
